* {
    box-sizing: border-box;
    font-family: "Akshar", sans-serif;
}



header{
    background-image: url('photos/home/head-banner.png'); 
    background-color: #8F57B2;
    background-size: cover;
    height: 150px;
    background-position: center;   
}

header div.overlap{
    height: 150px;
    left:0; 
    position: relative;
    top:0; 
}

nav{
    /* font-family: "Akshar", sans-serif; */
    top:0;
    left: 0;
    width: 100%;
    background-color:#8F57B2;
    color: white;
    padding: 0;
    align-items: stretch;
} 
nav ul {
    align-items: center;
    text-align: center;
}
.nav ul  li {
    color: white;
    text-decoration: none;
    color: #8F57B2;
    height: 100%;
  font-size: 1.3rem;
   align-items: center;
   text-decoration: none;

 
}
.nav ul{
 
    margin:0;
    text-decoration: none;
    display: flex;
    gap: 10rem;
}
nav div a {
    text-align: center;
   color: white;

   text-decoration: none;
}
nav button{
    color:white;
}
nav li{
    padding: 0 2rem;
  list-style-type: none;  
}
nav.nav ul li a{
    text-decoration: none;
    color: white;
}
.nav-link{
    color:white;
}
nav  li.active {
    background-color:#C2A4DB;
    padding: 0 4rem;
    color: #8F57B2;
    text-decoration: none;
    height:100%;
 
 }


 .nav a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
 }

nav li.active a{
    color:black;
}
nav.nav ul li.active a{
    color:black;
}
nav ul li.nav-item:hover{
    color:black;
    background-color:#C2A4DB;
}
nav ul li.nav-item:hover a{
    color:black;
   
}
nav li:hover {
    color:black;
}

 .open {
    display:none;
   
}




body {
    min-height:100vh;
    display: flex;
    flex-direction: column;
    background-color: #EADFF0;
}

.footer-bottom {
    min-height:100vh;
    display: flex;
    flex-direction: column;
    background-color: #EADFF0;
}

h2 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}
 nav ul{
    margin: .5 rem;
 }
.nav{
    display: none;
}
nav.mobile{
    display: block;
}

nav.site-navbar div li.active{
    color: black;
}

/* Stuff for Trading Card Page */
.hidden {
    display: none;
}

.member-btn-container {
    display: flex;
    font-family: "Akshar", sans-serif;
    flex-wrap: wrap;
}

.member-btn {
    flex-shrink: 0;
    flex-grow: 1;
    background-color: #8F5EB1; 
    border: none;
    color:white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
}

.member-btn:hover {
    background-color: #C2A4DB;
    color: black;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2), 0 0.1rem 1.2px 0 rgba(0,0,0,0.19);
}

.photocard-container {
    display: flex;
    flex-wrap: wrap;
    font-family: "Akshar", sans-serif;
    font-size: 2rem;
    justify-content: center;
}

.photocard {
    flex-shrink: 0;
    margin: 1rem;
}

img.photocard-img {
    height: 400px;
    width: 300px;
    border-radius: 40px 40px 0 0;
}

.photocard-description {
    background-color: white;
    padding: 2rem;
}

.trade-btn {
    width: 11rem;
    height: 3rem;
    border-radius: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(252, 103, 255, 1);
    color: black;
}

a.trade-btn, a.member-btn {
    text-decoration: none;
}

a.trade-btn:hover, a.member-btn:hover {
    color: black;
}

.trade-request {
    background-color: white;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

.request-title {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.add-card {
    background-color:#8F5EB1;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 7rem;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

.inner-add-card {
    background-color: white;
    border-radius: 2.5rem;
}

.upload-icon {
    height: 15rem;
    width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.exit-btn {
    position: absolute;
    top: 2%;
    right: 5%;
    color: white;
    text-decoration: none;
}

.exit-btn:hover {
    color: white;
}


/* End of Stuff for Card Trading Page */


h1 {
    margin: .5rem;
    text-align: center;
    color: #8F5EB1;
}

h1.rqh1 {
    margin: .5rem;
    text-align: center;
    color: #210736;
}

.container .rectangle {
    display: flex;
    height: 9.5rem;
    width: 100%;
    background-color:  #8F5EB1;
    border-radius: 15px;
    margin: auto;
    justify-content: center;
}

.circle {
    height: 100px;
    width: 100px;
    background-image: url('photos/logo.png');
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: 0;
  }

.card {
    height: 135px;
    width: 89px;
    border-radius: 15px;
    border: none;
    position: absolute;
    background-color:   #8F5EB1;
    margin: .5em;
}

.card-body {
    background-color: white;
    color: #8F5EB1;
    text-align: center;
    border-radius: 15px;
    margin: .3em;
}

h2.cardh {
    padding-left: 1.5rem;
}

.card-link {
    color: #8F5EB1;
    text-decoration-line: none;
}

.container.mobile-buttons {
    display: flex;
    justify-content: center;
}

/* a#rq {
    color: white;
    text-decoration-line: none;
} */

.row.g-0.mx-0 {
    display: none;
}

.row.g-0.mx-0 img {
    width: 100%;
    height: 350px;
    position: relative;
}


.btn-sent {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color:#8F5EB1;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
} 


.row.g-0.mx-0 .btn-incoming {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: #8F5EB1;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
} 

body.incoming {
    background-color: white;
}

main.incoming {
    background-color: #EADFF0;

}

.rectangle {
    display: flex;
    background-color: white;
    width: 80%;
    height: 25rem;
    border-radius: 15px;
    margin: 25px auto;
    justify-content: center;
}

div.none {
    position: absolute;
    background-color:#8F5EB1;
    color: white;
    text-align: center;
    height: fit-content;
    width: fit-content;
    margin: 2rem auto;
    padding: .5em;
    font-size: large;
    border-radius: 15px;
}

body.sent {
    background-color: #EADFF0;
}

main.sent {
    background-color: #EADFF0;
}

/* Calendar Styling */

.month {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.month img {
    width: 1.4rem;
    margin-top: 1.3rem;
}

.cal-prev img, .no-cal-prev img {
    transform: rotateY(180deg);
}

.no-cal-prev img, .no-cal-next img {
    opacity: 30%;
}

.calendar {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5%;
    margin: 0.5rem;
    padding: 1rem;
    align-items: center;
}

.month button {
    border-style: none;
    background-color: white;
    padding-bottom: 1.6rem;
}

th, td {
    color:#8F5EB1;
    width: 7%;
    margin-top: 0.5rem;
    padding-bottom: 4%;
    text-align: center;
}

td span {
    background-color: #8F5EB1;
    display: none;
    margin: 0 auto;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
}

td .scheduled {
    display: block;
}

td:hover {
    background-color: #E2CFEB;
    color: black;
}

.no-hover:hover {
    background-color: white;
    color:#8F5EB1;
}

.event-heading {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.events {
    display: flex;
    overflow-x: auto;
}

.event {
    flex: 0 0 auto;
    background-color: white;
    width: 8.4rem;
    height: 9rem;
    color:#8F5EB1;
    border-radius: 10%;
    margin: 0.5rem;
}

.event h2 {
    display: block;
    margin: 0.75rem 1rem;
    color: #8F57B2;
    border-bottom: #8F57B2;
}

.event p {
    margin: 0 1rem;
    font-size: 0.8rem;
}

.event p:last-of-type {
    font-size: 1rem;
    margin: 0.3rem 0.5rem 1rem 1rem;
}

.add-event {
    background-color: #8F5EB1; 
    border: none;
    border-radius: 10%;
    color: white;
    text-align: center;
    font-size: 1rem;
    width: 8.4rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.add-event img {
    filter:invert(100);
    width: 60%;
    padding-top: 25%;
}

.add-event:hover {
    background-color: #8F5EB1;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2), 0 0.1rem 1.2px 0 rgba(0,0,0,0.19);
}

.popup {
    position: absolute;
    width: 70%;
    left: 15%;
    bottom: 40%;
    background-color: white;
    text-align: center;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2), 0 0.1rem 1.2px 0 rgba(0,0,0,0.19);
}

.popup .btn-close {
    margin-left: 1rem;
    display: block;
}

.popup-date, .popup-time, .popup-select {
    margin-top: 0.5rem;
}

.create-event {
    display: block;
    background-color:#8F57B2; 
    border: none;
    color:white ;
    text-decoration: none;
    font-size: 1rem;
    width: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0.2rem;
}

.create-event:hover {
    background-color:#B78AD6;
    color: black;
}

.scheduled {
    display: block;
}

/* end calender styling */

/* game css */

div.jumbotron p.lead{
    color:#8F5EB1;
    text-align: center;
}



 div.col-6.mx-auto.my-4.leader{
    text-align:center;
} 

h2{
    color:#8F57B2
}

div.col-6.purple-bg{
    background-color: #8F57B2;
    color:#EADFF0;
    font-size: 1.7rem;
    text-align:center;
    padding: .5rem 0rem;

}
div.row{
    padding: 0;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
}
tbody{
    border-spacing: 0;
    border-collapse: collapse;
}
/* div.leaderBack{
    background-color: white;
    padding: .5rem;
} */
 td {
    padding: 8px; /* Adjust the padding as needed */
    border: 1px solid #ddd; /* Optional: Add border for better separation */
  }

  table tr{
    padding: 0;
    border: 0;
    background-color: white;
  }

span.input-group-text{
    font-size: 2rem;
    color:white;
    text-align:center;
}

p.colTitle{
    font-size:1.7rem;
    color:#8F57B2;
    font-weight: 500;
    
}
div.col-lg-12.difScore{
    font-size:1.7rem;
    color:#8F57B2;
    font-weight: 500;
}
h2.leader{
    text-align:center;
}
div.playagain{
    text-align:center;
}
div.row.mt-5.desktopPlay{
    display: none;
}

div.jumbotron p.lead{
    color: black;
    
}

.progress-bar {
    background-color: #8F57B2;
   
}

.play{
   width: 40px;
}
button.playButton{
    margin: 0;
 background-color:#EADFF0; 
  border: none;
  padding: 0px ;
  text-align: center;
  font-size: 17px;

}
.highlightAnswer{
border-color: green;
}

.wrong{
    border-color: red;
}

.submitted{
    background-color: #C2A4DB;
    color: black;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2), 0 0.1rem 1.2px 0 rgba(0,0,0,0.19);

    flex-shrink: 0;
    flex-grow: 1;
  
    border: none;

    padding: 0.5rem 1rem;
    margin: 0.5rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
}
footer {
    padding: 1em 0em;
    text-align:center;
    background-color: #EADFF0;
    bottom: 0;
    z-index:10;
    width: 100%;
}

@media (min-width: 768px) {
   
    .row.g-0.mx-0 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-grow: 1;
        padding-bottom: .5rem;
        height: 100%;
    }

    .rectangle {
        background-color: #8F5EB1;
        width: 100%;
        height: 50rem;
        margin: auto;
    }

    .row.g-0.mx-0 .btn-incoming {
        position: absolute;
        top: 50%;
        left: 73%;
        transform: translate(-50%, -50%);
        background-color: #8F5EB1;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        border-radius: 15px;
        text-decoration: none;
    } 

    .rectangle-home {
        display: flex;
        height: 9.5rem;
        width: 100%;
        background-color:  #8F5EB1;
        border-radius: 15px;
        margin: auto;
        justify-content: left;
    }

    .btn-sent {
        position: absolute;
        top: 50%;
        left: 28%;
        transform: translate(-50%, -50%);
        background-color:#8F5EB1;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        border-radius: 15px;
        text-decoration: none;
    } 

    .btn-sent:hover {
        color: white;
    }

    h1.rqh1 {
        color: white;
    }

    body .sent {
        background-image: url('photos/home/purple-clouds.png');
        background-size: cover;
        background-position: center;
    }

    body .incoming {
        background-image: url('photos/home/army-ocean.png');
        background-size: cover;
        background-position: center;
    }

    h2.cardh {
        padding-left: 2.5em;
    }

    .rectangle {
        display: flex;
        background-color: white;
        width: 80%;
        height: 25rem;
        border-radius: 15px;
        margin: 25px auto;
        justify-content: center;
    }

    

    /* .rectangle#sentrq {
        display: flex;
        background-color: white;
        width: 80%;
        height: 25rem;
        border-radius: 15px;
        margin: 25px auto;
        justify-content: center;
    } */

    
    
    th, td {
        width: 4.5rem;
        padding-bottom: 4rem;
    }
    .layout {
        justify-content: space-between;
    }
    .popup {
        width: 50%;
        left: 30%;
        bottom: 30%
    }
    .title-input {
        margin-top: 2rem;
    }
    .create-event {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .events {
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x:unset;
        flex: 4 1 40%;
    }
    .calendar {
        flex-basis: 70%;
    }
    .event-section {
        padding-right: 4rem;
    }
    .event-heading {
        width: 100%;
    }
    .event, .add-event {
        width: 12rem;
        border-radius: 5%;
    }
    .add-event img {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 14%;
    }
    div.row.mt-5.desktopPlay{
        display: none;
    }

    html {
        height: 100%;
    }

}

@media (min-width: 992px) {
   

       div.row.mt-5.desktopPlay{
        display: block;
    }
       

    th, td {
        width: 5.5rem;
        padding-bottom: .5rem;
    }

    .calendar {
        flex-basis: 60%;
    }

    .event, .add-event {
        width: 18rem;
    }
    
    .popup {
        width: 40%;
        left: 30%;
        bottom: 30%
    }
}

@media (min-width: 1200px) {
   .nav{
        display: block;
       }
       nav.navbar{
        display: none;
       }
       div.row.mt-5.desktopPlay{
        display: block;
    }


}

